# kernel build artifacts
/arch/*/boot/
/vmlinux
/vmlinux.*
/System.map
/Module.symvers
*.o
*.cmd
*.mod
*.mod.c
*.order
*.symvers
*.tmp_versions/
*.ko
/Module.markers
/.config
/compiled/
*.d
/.cache
out/
build/
*.gz
*.zip
*.img
/vendor/*/prebuilt/
# Editors
*~
*.swp
.DS_Store
